body  {
    background: rgb(156, 185, 209); 
    
}


.heading {
  font-size: 50px;
  font-family: 'Inconsolata', monospace;
  color: #fdc5ce;
  font-weight: bold;
}

.column {
    float: left;
    width: 200px;  
}

.row::after {
    content: "";
    clear: both;
    display: block;
}


.card {
    margin: auto;
}

.card-img-top {
    height: 8rem;
    margin: auto;
}


.info {
    margin: auto;
}

.rules {
    margin: auto;
}