body  {
text-align: center; 
margin: 100px 450px 0px 450px;
background: url(../images/purepleYellowLarge.jpg) center no-repeat;
}


.heading {
  font-size: 50px;
  font-family: 'Inconsolata', monospace;
  color: rgb(156, 185, 209);
  font-weight: bold;
  text-align: center;
}

.column {
    float: left;
    width: 200px;  
}

.row::after {
    content: "";
    clear: both;
    display: block;
}


.card {
    margin: auto;
}

.card-img-top {
    height: 8rem;
    margin: auto;
}


h2 {
    margin: right;
}

.rules {
    margin: auto;
}
